package handlers

import (
    "net/http"
    "{{.ModuleName}}/utils"
)

func NotFoundHandler(w http.ResponseWriter, r *http.Request) {
    response := map[string]string{"error": "route not found"}
    utils.WriteJSON(w, utils.StatusNotFound, response)
}