package middleware

import "net/http"

func ApplyMiddleware(handler http.Handler) http.Handler {
    handler = Logging(handler)
    handler = CORS(handler)
    handler = Recovery(handler)
    return handler
}