package middleware

import (
    "log"
    "net/http"
    "time"
    "{{.ModuleName}}/utils"
)

func Logging(next http.Handler) http.Handler {
    return http.HandlerFunc(func(w http.ResponseWriter, r *http.Request) {
        start := time.Now()

        wrapped := &utils.ResponseWriter{ResponseWriter: w, StatusCode: utils.StatusOK}

        next.ServeHTTP(wrapped, r)

        duration := time.Since(start)
        log.Printf("%s %s %d %v", r.Method, r.URL.Path, wrapped.StatusCode, duration)
    })
}